@import url('https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&display=swap');

body {
  background-color: #131a2a;
  font-family: 'BhuTuka Expanded One', serif;
}

.image-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-div img {
  height: 100%;
  width: 100%;
}

.button-19 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #222f4d 0,
    #2c3c60 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: 'BhuTuka Expanded One', serif;
  font-size: 48px;
  width: 60%;
  margin-left: 20%;
  padding: 5px 0;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
}

.button-19:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #2c3c60 0 -3px 0 inset;
}

.button-19:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #2c3c60 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-19:active {
  box-shadow: #2c3c60 0 3px 7px inset;
  transform: translateY(2px);
}

.timer-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -380px;
}

.timer-div h1 {
  color: white;
  font-size: 150px;
}

/* Confetti Styles */
.confetti {
  width: 10px;
  height: 10px;
  animation: fall 5s linear infinite;
}

/* Position Confetti in Each Corner */
.confetti.top-left {
  position: absolute !important;
  top: 0;
  left: 0;
}

.confetti.top-right {
  position: absolute !important;
  top: 0;
  right: 0;
}

.confetti.bottom-left {
  position: absolute !important;
  bottom: 0;
  left: 0;
}

.confetti.bottom-right {
  position: absolute !important;
  bottom: 0;
  right: 0;
}
